<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:flow="http://www.springframework.org/schema/webflow-config"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
          http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.1.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.1.xsd
          http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi-1.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
">

    <context:annotation-config/>
    
    <!-- DataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/sed"/>
        <property name="username" value="root"/>
        <property name="password" value="mysql"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>/persistencia/Evaluaciones.hbm.xml</value>
                <value>/persistencia/Docentes.hbm.xml</value>
                <value>/persistencia/Grupos.hbm.xml</value>
                <value>/persistencia/Alumnos.hbm.xml</value>
            </list>
        </property>
    </bean>
    
    <!-- DAO's -->
    <bean id="evaluacionDAO" class="jdbc.dao.ImpEvaluacion">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="docentesDAO" class="jdbc.dao.ImpDocentes">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="gruposDAO" class="jdbc.dao.ImpGrupos">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="alumnosDAO" class="jdbc.dao.ImpAlumnos">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    
    <!-- BO's -->
    <bean id="evaluacionBO" class="bo.EvaluacionImpBO">
        <property name="evaluacionDAO" ref="evaluacionDAO"></property>
    </bean>
    <bean id="docentesBO" class="bo.DocentesImpBO">
        <property name="docentesDAO" ref="docentesDAO"></property>
    </bean>
    <bean id="gruposBO" class="bo.GruposImpBO">
        <property name="gruposDAO" ref="gruposDAO"></property>
    </bean>
    <bean id="alumnosBO" class="bo.AlumnosImpBO">
        <property name="alumnosDAO" ref="alumnosDAO"></property>
    </bean>
    
</beans>
