<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sed?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <!-- <property name="hibernate.connection.password">mysql</property> -->
    <mapping resource="persistencia/Grupos.hbm.xml"/>
    <mapping resource="persistencia/Preguntas.hbm.xml"/>
    <mapping resource="persistencia/Resultados.hbm.xml"/>
    <mapping resource="persistencia/Alumnos.hbm.xml"/>
    <mapping resource="persistencia/PreguntasJoinEvaluacion.hbm.xml"/>
    <mapping resource="persistencia/Evaluaciones.hbm.xml"/>
    <mapping resource="persistencia/Registros.hbm.xml"/>
    <mapping resource="persistencia/Docentes.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
